<p>コメント数:<%= book.book_comments.count %></p>
          </td>
          </tr>
          <tr style="border:none;">
            <td style="border:none;">
                <% book.book_comments.each do |book_comment| %>
                <p><%= image_tag book_comment.user.get_profile_image, size:"100x100" %></p>
                <%= book_comment.user.name %>
                <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
                <% if book_comment.user == current_user %>
                  <%= link_to "Delete", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
                <% end %>
              <% end %>
              <%= form_with model: [book, book_comment], local: false do |f| %>
                <%= f.text_area :comment, rows: '5', placeholder: "Comment Text" %>
                <%= f.submit "Create Comment", class: "btn btn-sm btn-success" %>
              <% end %>